In [1]:
#Basic libraries
import pandas as pd 
import numpy as np 
#Ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
raw_reviews = pd.read_csv('data.csv', parse_dates=['DataCollectedTimeStamp'])

In [3]:
print (raw_reviews.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DataCollectedTimeStamp  519 non-null    datetime64[ns]
 1   Sid                     519 non-null    int64
 2   HRCount                 519 non-null    int64
 3   FanEngageScore          519 non-null    float64
 4   TapCounts               519 non-null    int64
 5   WaveCounts              519 non-null    int64
 6   WhistlesRedeemed        519 non-null    int64
 7   TeamName                519 non-null    object
 8   HRDeviceTypeId          519 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(1)
memory usage: 36.6+ KB
None

In [4]:
raw_reviews.head()

,DataCollectedTimeStamp,Sid,HRCount,FanEngageScore,TapCounts,WaveCounts,WhistlesRedeemed,TeamName,HRDeviceTypeId
0,2021-04-30 19:35:10,1,71,6.9,25,104,1350,Bangalore,3
1,2021-04-30 19:36:11,1,85,6.3,25,104,1350,Bangalore,3
2,2021-04-30 19:37:11,1,82,6.3,25,104,1350,Bangalore,3
3,2021-04-30 19:38:11,1,84,6.3,25,104,1350,Bangalore,3
4,2021-04-30 19:39:10,1,84,6.3,25,104,1350,Bangalore,3

In [8]:
raw_reviews['DataCollectedTimeStamp'] = pd.to_datetime(raw_reviews.DataCollectedTimeStamp,errors='coerce')

In [9]:
print (raw_reviews.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DataCollectedTimeStamp  519 non-null    datetime64[ns]
 1   Sid                     519 non-null    int64
 2   HRCount                 519 non-null    int64
 3   FanEngageScore          519 non-null    float64
 4   TapCounts               519 non-null    int64
 5   WaveCounts              519 non-null    int64
 6   WhistlesRedeemed        519 non-null    int64
 7   TeamName                519 non-null    object
 8   HRDeviceTypeId          519 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(1)
memory usage: 36.6+ KB
None

In [13]:
raw_reviews.set_index('DataCollectedTimeStamp')

,Sid,HRCount,FanEngageScore,TapCounts,WaveCounts,WhistlesRedeemed,TeamName,HRDeviceTypeId
DataCollectedTimeStamp,,,,,,,,
2021-04-30 19:35:10,1,71,6.9,25,104,1350,Bangalore,3
2021-04-30 19:36:11,1,85,6.3,25,104,1350,Bangalore,3
2021-04-30 19:37:11,1,82,6.3,25,104,1350,Bangalore,3
2021-04-30 19:38:11,1,84,6.3,25,104,1350,Bangalore,3
2021-04-30 19:39:10,1,84,6.3,25,104,1350,Bangalore,3
...,...,...,...,...,...,...,...,...
2021-04-30 21:37:53,2471,84,6.3,163,29,1,Bangalore,3
2021-04-30 21:38:58,2471,69,4.2,163,29,1,Bangalore,3
2021-04-30 21:39:53,2471,80,6.3,163,29,1,Bangalore,3
2021-04-30 21:40:58,2471,123,8.0,163,29,1,Bangalore,3
2021-04-30 21:41:53,2471,82,6.3,163,29,1,Bangalore,3

In [17]:
raw_reviews.groupby(raw_reviews['DataCollectedTimeStamp']).describe()

                         Sid                                                \
                       count   mean std    min    25%    50%    75%    max
DataCollectedTimeStamp
2021-04-30 19:28:25      1.0   42.0 NaN   42.0   42.0   42.0   42.0   42.0
2021-04-30 19:29:28      1.0   42.0 NaN   42.0   42.0   42.0   42.0   42.0
2021-04-30 19:30:28      1.0   42.0 NaN   42.0   42.0   42.0   42.0   42.0
2021-04-30 19:31:28      1.0   42.0 NaN   42.0   42.0   42.0   42.0   42.0
2021-04-30 19:32:28      1.0   42.0 NaN   42.0   42.0   42.0   42.0   42.0
...                      ...    ...  ..    ...    ...    ...    ...    ...
2021-04-30 23:06:12      1.0   42.0 NaN   42.0   42.0   42.0   42.0   42.0
2021-04-30 23:06:20      1.0  152.0 NaN  152.0  152.0  152.0  152.0  152.0
2021-04-30 23:07:12      1.0   42.0 NaN   42.0   42.0   42.0   42.0   42.0
2021-04-30 23:07:21      1.0  152.0 NaN  152.0  152.0  152.0  152.0  152.0
2021-04-30 23:08:21      1.0  152.0 NaN  152.0  152.0  152.0  152.0  152.0

                       HRCount         ... WhistlesRedeemed        \
                         count   mean  ...              75%   max
DataCollectedTimeStamp                 ...
2021-04-30 19:28:25        1.0   99.0  ...             13.0  13.0
2021-04-30 19:29:28        1.0  103.0  ...             13.0  13.0
2021-04-30 19:30:28        1.0  100.0  ...             13.0  13.0
2021-04-30 19:31:28        1.0   99.0  ...             13.0  13.0
2021-04-30 19:32:28        1.0   98.0  ...             13.0  13.0
...                        ...    ...  ...              ...   ...
2021-04-30 23:06:12        1.0   90.0  ...             13.0  13.0
2021-04-30 23:06:20        1.0   90.0  ...              5.0   5.0
2021-04-30 23:07:12        1.0   65.0  ...             13.0  13.0
2021-04-30 23:07:21        1.0  101.0  ...              5.0   5.0
2021-04-30 23:08:21        1.0   90.0  ...              5.0   5.0

                       HRDeviceTypeId
                                count mean std  min  25%  50%  75%  max
DataCollectedTimeStamp
2021-04-30 19:28:25               1.0  3.0 NaN  3.0  3.0  3.0  3.0  3.0
2021-04-30 19:29:28               1.0  3.0 NaN  3.0  3.0  3.0  3.0  3.0
2021-04-30 19:30:28               1.0  3.0 NaN  3.0  3.0  3.0  3.0  3.0
2021-04-30 19:31:28               1.0  3.0 NaN  3.0  3.0  3.0  3.0  3.0
2021-04-30 19:32:28               1.0  3.0 NaN  3.0  3.0  3.0  3.0  3.0
...                               ...  ...  ..  ...  ...  ...  ...  ...
2021-04-30 23:06:12               1.0  3.0 NaN  3.0  3.0  3.0  3.0  3.0
2021-04-30 23:06:20               1.0  3.0 NaN  3.0  3.0  3.0  3.0  3.0
2021-04-30 23:07:12               1.0  3.0 NaN  3.0  3.0  3.0  3.0  3.0
2021-04-30 23:07:21               1.0  3.0 NaN  3.0  3.0  3.0  3.0  3.0
2021-04-30 23:08:21               1.0  3.0 NaN  3.0  3.0  3.0  3.0  3.0

[502 rows x 56 columns]

In [22]:
df = raw_reviews.groupby(raw_reviews['DataCollectedTimeStamp']).mean()

In [23]:
df.to_csv('out.csv')

PermissionError: [Errno 13] Permission denied: 'out.csv'

In [24]:
df.resample('1S').pad()

,Sid,HRCount,FanEngageScore,TapCounts,WaveCounts,WhistlesRedeemed,HRDeviceTypeId
DataCollectedTimeStamp,,,,,,,
2021-04-30 19:28:25,42.0,99.0,7.9,1266.0,92.0,13.0,3.0
2021-04-30 19:28:26,42.0,99.0,7.9,1266.0,92.0,13.0,3.0
2021-04-30 19:28:27,42.0,99.0,7.9,1266.0,92.0,13.0,3.0
2021-04-30 19:28:28,42.0,99.0,7.9,1266.0,92.0,13.0,3.0
2021-04-30 19:28:29,42.0,99.0,7.9,1266.0,92.0,13.0,3.0
...,...,...,...,...,...,...,...
2021-04-30 23:08:17,152.0,101.0,6.8,306.0,26.0,5.0,3.0
2021-04-30 23:08:18,152.0,101.0,6.8,306.0,26.0,5.0,3.0
2021-04-30 23:08:19,152.0,101.0,6.8,306.0,26.0,5.0,3.0
2021-04-30 23:08:20,152.0,101.0,6.8,306.0,26.0,5.0,3.0
2021-04-30 23:08:21,152.0,90.0,6.8,306.0,26.0,5.0,3.0

In [25]:
df.to_csv('out2.csv')

In [27]:
df.corr()

,Sid,HRCount,FanEngageScore,TapCounts,WaveCounts,WhistlesRedeemed,HRDeviceTypeId
Sid,1.000000,-0.171567,-0.241413,-0.325539,-0.597512,-0.339365,NaN
HRCount,-0.171567,1.000000,0.825350,0.248460,-0.037210,-0.212710,NaN
FanEngageScore,-0.241413,0.825350,1.000000,0.083467,0.061493,0.002054,NaN
TapCounts,-0.325539,0.248460,0.083467,1.000000,0.278018,-0.516915,NaN
WaveCounts,-0.597512,-0.037210,0.061493,0.278018,1.000000,0.666035,NaN
WhistlesRedeemed,-0.339365,-0.212710,0.002054,-0.516915,0.666035,1.000000,NaN
HRDeviceTypeId,NaN,NaN,NaN,NaN,NaN,NaN,NaN